In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('D://sridhar//sridhar//downloads//Car_details_v3.csv')

df.head()

df.dtypes
df.fuel.value_counts()
df.name.value_counts()

The below calculation is to find out if any column contains more than 20% null values

In [3]:
for list in df.columns:
    print(list, ",", df[list].isna().sum(),",", df[list].isna().sum()*100/df.shape[0], "," ,df.shape[0])
    if df[list].isna().sum()/df.shape[0] >20:
        print(list)

name , 0 , 0.0 , 8128
year , 0 , 0.0 , 8128
selling_price , 0 , 0.0 , 8128
km_driven , 0 , 0.0 , 8128
fuel , 0 , 0.0 , 8128
seller_type , 0 , 0.0 , 8128
transmission , 0 , 0.0 , 8128
owner , 0 , 0.0 , 8128
mileage , 221 , 2.718996062992126 , 8128
engine , 221 , 2.718996062992126 , 8128
max_power , 215 , 2.6451771653543306 , 8128
torque , 222 , 2.731299212598425 , 8128
seats , 221 , 2.718996062992126 , 8128

src_str = "A tutorial for learning Python replace function"
 
 
 
str_replaced = src_str.replace("replace","String replace")
 
 
 
print ("String after replace method:", str_replaced)

name = "abc123"
name1 = name.replace("123", "")
print(name1)

Replace not working directly. Using regex

In [4]:
df_updated1 = df.replace(to_replace ='kmpl', value = '', regex = True)
df_updated2 = df_updated1.replace(to_replace ='CC', value = '', regex = True)
df_updated3 = df_updated2.replace(to_replace ='bhp', value = '', regex = True)
df=df_updated3

In [5]:
df.dtypes

name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
torque            object
seats            float64
dtype: object

In [6]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,"11.5@ 4,500(kgm@ rpm)",5.0

In [7]:
for col in ["mileage","engine","max_power"]:
    df[col]=pd.to_numeric(df[col],errors="coerce")

In [8]:
df.dtypes

name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage          float64
engine           float64
max_power        float64
torque            object
seats            float64
dtype: object

In [9]:
df['mileage'].fillna(df['mileage'].mode()[0], inplace=True)
df['engine'].fillna(df['engine'].mode()[0], inplace=True)
df['torque'].fillna(df['torque'].mode()[0], inplace=True)
df['max_power'].fillna(df['max_power'].mode()[0], inplace=True)
df['seats'].fillna(df['seats'].mode()[0], inplace=True)

https://stackoverflow.com/questions/58631524/fillna-not-replacing-nan-values-in-the-dataframe

Fillna is not working without subscript 0 . The reason can be found in the link above

In [10]:
df["mileage"].isna().sum()

0

In [11]:
df["engine"].isna().sum()

0

In [12]:
df["torque"].isna().sum()

0

In [13]:
df=df.drop(['name'], axis=1)

In [14]:
df["max_power"].isna().sum()

0

In [15]:
df["seats"].isna().sum()

0

In [16]:
pd.get_dummies(df['fuel'], prefix='fuel', drop_first=True)

      fuel_Diesel  fuel_LPG  fuel_Petrol
0               1         0            0
1               1         0            0
2               0         0            1
3               1         0            0
4               0         0            1
...           ...       ...          ...
8123            0         0            1
8124            1         0            0
8125            1         0            0
8126            1         0            0
8127            1         0            0

[8128 rows x 3 columns]

In [17]:
df.isna().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [18]:
df = pd.concat([df, pd.get_dummies(df['fuel'], prefix='fuel', drop_first=True)], axis=1)

In [19]:
df.isna().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
fuel_Diesel      0
fuel_LPG         0
fuel_Petrol      0
dtype: int64

In [20]:
pd.get_dummies(df['transmission'], prefix='transmission', drop_first=True)
df = pd.concat([df, pd.get_dummies(df['transmission'], prefix='transmission', drop_first=True)], axis=1)
pd.get_dummies(df['seller_type'], prefix='seller_type', drop_first=True)
df = pd.concat([df, pd.get_dummies(df['seller_type'], prefix='seller_type', drop_first=True)], axis=1)
pd.get_dummies(df['owner'], prefix='owner', drop_first=True)
df = pd.concat([df, pd.get_dummies(df['owner'], prefix='owner', drop_first=True)], axis=1)

In [21]:
#df=df.drop(['name'], axis=1)
df=df.drop(['transmission'], axis=1)
df=df.drop(['owner'], axis=1)
df=df.drop(['fuel'], axis=1)

In [22]:
df.head()

,year,selling_price,km_driven,seller_type,mileage,engine,max_power,torque,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Manual,seller_type_Individual,seller_type_Trustmark Dealer,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,Individual,23.40,1248.0,74.00,190Nm@ 2000rpm,5.0,1,0,0,1,1,0,0,0,0,0
1,2014,370000,120000,Individual,21.14,1498.0,103.52,250Nm@ 1500-2500rpm,5.0,1,0,0,1,1,0,0,1,0,0
2,2006,158000,140000,Individual,17.70,1497.0,78.00,"12.7@ 2,700(kgm@ rpm)",5.0,0,0,1,1,1,0,0,0,0,1
3,2010,225000,127000,Individual,23.00,1396.0,90.00,22.4 kgm at 1750-2750rpm,5.0,1,0,0,1,1,0,0,0,0,0
4,2007,130000,120000,Individual,16.10,1298.0,88.20,"11.5@ 4,500(kgm@ rpm)",5.0,0,0,1,1,1,0,0,0,0,0

In [23]:
df.isna().sum()

year                            0
selling_price                   0
km_driven                       0
seller_type                     0
mileage                         0
engine                          0
max_power                       0
torque                          0
seats                           0
fuel_Diesel                     0
fuel_LPG                        0
fuel_Petrol                     0
transmission_Manual             0
seller_type_Individual          0
seller_type_Trustmark Dealer    0
owner_Fourth & Above Owner      0
owner_Second Owner              0
owner_Test Drive Car            0
owner_Third Owner               0
dtype: int64

In [24]:
df.head()

,year,selling_price,km_driven,seller_type,mileage,engine,max_power,torque,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Manual,seller_type_Individual,seller_type_Trustmark Dealer,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,Individual,23.40,1248.0,74.00,190Nm@ 2000rpm,5.0,1,0,0,1,1,0,0,0,0,0
1,2014,370000,120000,Individual,21.14,1498.0,103.52,250Nm@ 1500-2500rpm,5.0,1,0,0,1,1,0,0,1,0,0
2,2006,158000,140000,Individual,17.70,1497.0,78.00,"12.7@ 2,700(kgm@ rpm)",5.0,0,0,1,1,1,0,0,0,0,1
3,2010,225000,127000,Individual,23.00,1396.0,90.00,22.4 kgm at 1750-2750rpm,5.0,1,0,0,1,1,0,0,0,0,0
4,2007,130000,120000,Individual,16.10,1298.0,88.20,"11.5@ 4,500(kgm@ rpm)",5.0,0,0,1,1,1,0,0,0,0,0

In [25]:
#Let's drop torque in first iteration and see the results
df=df.drop(['torque'], axis=1)

In [26]:
df.head()

,year,selling_price,km_driven,seller_type,mileage,engine,max_power,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Manual,seller_type_Individual,seller_type_Trustmark Dealer,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,Individual,23.40,1248.0,74.00,5.0,1,0,0,1,1,0,0,0,0,0
1,2014,370000,120000,Individual,21.14,1498.0,103.52,5.0,1,0,0,1,1,0,0,1,0,0
2,2006,158000,140000,Individual,17.70,1497.0,78.00,5.0,0,0,1,1,1,0,0,0,0,1
3,2010,225000,127000,Individual,23.00,1396.0,90.00,5.0,1,0,0,1,1,0,0,0,0,0
4,2007,130000,120000,Individual,16.10,1298.0,88.20,5.0,0,0,1,1,1,0,0,0,0,0

In [27]:
df=df.drop(['seller_type'], axis=1)

In [28]:
df.head()

,year,selling_price,km_driven,mileage,engine,max_power,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Manual,seller_type_Individual,seller_type_Trustmark Dealer,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,23.40,1248.0,74.00,5.0,1,0,0,1,1,0,0,0,0,0
1,2014,370000,120000,21.14,1498.0,103.52,5.0,1,0,0,1,1,0,0,1,0,0
2,2006,158000,140000,17.70,1497.0,78.00,5.0,0,0,1,1,1,0,0,0,0,1
3,2010,225000,127000,23.00,1396.0,90.00,5.0,1,0,0,1,1,0,0,0,0,0
4,2007,130000,120000,16.10,1298.0,88.20,5.0,0,0,1,1,1,0,0,0,0,0

In [29]:
df["year"] = df["year"].apply(lambda x : 2021-x)

In [30]:
df.head()

,year,selling_price,km_driven,mileage,engine,max_power,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Manual,seller_type_Individual,seller_type_Trustmark Dealer,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,7,450000,145500,23.40,1248.0,74.00,5.0,1,0,0,1,1,0,0,0,0,0
1,7,370000,120000,21.14,1498.0,103.52,5.0,1,0,0,1,1,0,0,1,0,0
2,15,158000,140000,17.70,1497.0,78.00,5.0,0,0,1,1,1,0,0,0,0,1
3,11,225000,127000,23.00,1396.0,90.00,5.0,1,0,0,1,1,0,0,0,0,0
4,14,130000,120000,16.10,1298.0,88.20,5.0,0,0,1,1,1,0,0,0,0,0

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [32]:
df.columns

Index(['year', 'selling_price', 'km_driven', 'mileage', 'engine', 'max_power',
       'seats', 'fuel_Diesel', 'fuel_LPG', 'fuel_Petrol',
       'transmission_Manual', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'owner_Fourth & Above Owner',
       'owner_Second Owner', 'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

In [33]:
df_train,df_test = train_test_split(df, test_size = 0.2,random_state=2)

In [37]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_train = pd.DataFrame(scaler.fit_transform(df_train), columns=df_train.columns)

df_test = pd.DataFrame(scaler.transform(df_test), columns=df_test.columns)

In [38]:
print('Train -', df_train.shape)
print('Test  -', df_test.shape)

Train - (6502, 17)
Test  - (1626, 17)

In [39]:
df_train.head()

,year,selling_price,km_driven,mileage,engine,max_power,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Manual,seller_type_Individual,seller_type_Trustmark Dealer,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,-1.036638,0.621644,-0.594780,0.663157,0.262474,0.986677,-0.422923,0.916429,-0.069214,-0.894768,0.386487,0.44977,-0.174903,-0.148343,-0.593337,-0.024811,-0.273657
1,-0.790699,1.280765,-0.168707,-0.586848,1.015434,2.218077,-0.422923,0.916429,-0.069214,-0.894768,0.386487,0.44977,-0.174903,-0.148343,-0.593337,-0.024811,-0.273657
2,-1.036638,-0.074097,-0.765209,-0.127663,-0.512632,-0.259906,-0.422923,-1.091192,-0.069214,1.117609,0.386487,0.44977,-0.174903,-0.148343,-0.593337,-0.024811,-0.273657
3,0.684939,-0.598955,1.024297,-1.377668,2.106623,0.587455,1.699692,0.916429,-0.069214,-0.894768,0.386487,0.44977,-0.174903,-0.148343,1.685384,-0.024811,-0.273657
4,0.684939,-0.391453,1.450370,0.918260,-0.111993,-0.031056,-0.422923,0.916429,-0.069214,-0.894768,0.386487,0.44977,-0.174903,-0.148343,-0.593337,-0.024811,-0.273657

In [40]:
lm=LinearRegression()

In [41]:
x_train=df_train.drop(["selling_price"],1)
y_train=df_train["selling_price"]
x_test=df_test.drop(["selling_price"],1)
y_test=df_test["selling_price"]

In [42]:
x_train.head()

,year,km_driven,mileage,engine,max_power,seats,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Manual,seller_type_Individual,seller_type_Trustmark Dealer,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,-1.036638,-0.594780,0.663157,0.262474,0.986677,-0.422923,0.916429,-0.069214,-0.894768,0.386487,0.44977,-0.174903,-0.148343,-0.593337,-0.024811,-0.273657
1,-0.790699,-0.168707,-0.586848,1.015434,2.218077,-0.422923,0.916429,-0.069214,-0.894768,0.386487,0.44977,-0.174903,-0.148343,-0.593337,-0.024811,-0.273657
2,-1.036638,-0.765209,-0.127663,-0.512632,-0.259906,-0.422923,-1.091192,-0.069214,1.117609,0.386487,0.44977,-0.174903,-0.148343,-0.593337,-0.024811,-0.273657
3,0.684939,1.024297,-1.377668,2.106623,0.587455,1.699692,0.916429,-0.069214,-0.894768,0.386487,0.44977,-0.174903,-0.148343,1.685384,-0.024811,-0.273657
4,0.684939,1.450370,0.918260,-0.111993,-0.031056,-0.422923,0.916429,-0.069214,-0.894768,0.386487,0.44977,-0.174903,-0.148343,-0.593337,-0.024811,-0.273657

In [43]:
y_train.head()

0    0.621644
1    1.280765
2   -0.074097
3   -0.598955
4   -0.391453
Name: selling_price, dtype: float64

In [44]:
x_train.dtypes

year                            float64
km_driven                       float64
mileage                         float64
engine                          float64
max_power                       float64
seats                           float64
fuel_Diesel                     float64
fuel_LPG                        float64
fuel_Petrol                     float64
transmission_Manual             float64
seller_type_Individual          float64
seller_type_Trustmark Dealer    float64
owner_Fourth & Above Owner      float64
owner_Second Owner              float64
owner_Test Drive Car            float64
owner_Third Owner               float64
dtype: object

In [45]:
lm.fit(x_train,y_train)

LinearRegression()

In [46]:
p_test=lm.predict(x_test)

In [ ]:
x_train.shape

In [48]:
view_act_pred = pd.concat([pd.Series(y_test).reset_index(drop=True), pd.Series(p_test)], axis=1)
view_act_pred.columns = ['Actual', 'Pred']
view_act_pred['Error'] = view_act_pred.Actual - view_act_pred.Pred
view_act_pred.head()

     Actual      Pred     Error
0 -0.537925 -0.624027  0.086102
1  0.133404  0.530021 -0.396617
2  1.659152  1.566296  0.092856
3 -0.718573 -0.957245  0.238671
4 -0.159540  0.553396 -0.712936

In [49]:
print(p_test)

[-0.62402679  0.53002094  1.56629626 ... -0.26811692 -0.58129603
  0.02620785]

In [50]:
view_act_pred.head()

     Actual      Pred     Error
0 -0.537925 -0.624027  0.086102
1  0.133404  0.530021 -0.396617
2  1.659152  1.566296  0.092856
3 -0.718573 -0.957245  0.238671
4 -0.159540  0.553396 -0.712936

In [51]:
residual=y_test-p_test

rmse_lm=np.sqrt(np.dot(residual,residual)/len(p_test))

rmse_lm

0.523971389317308

In [52]:
lm.coef_

array([-1.50799346e-01, -7.13801632e-02,  5.28532138e-02,  4.70126657e-02,
        5.55717960e-01, -4.80377945e-02, -5.12659292e-02,  8.94194685e-03,
       -8.89825991e-02, -1.93539517e-01, -1.12587614e-01, -6.97998842e-02,
       -2.90684001e-04, -3.09521822e-02,  8.02462478e-02, -5.30705439e-03])

In [53]:
coefs=lm.coef_

features=x_train.columns

In [54]:
lm.intercept_

-2.9200818243415976e-16

In [ ]:
%matplotlib inline

In [ ]:
import scipy.stats as stats

In [ ]:
import matplotlib.pyplot as lt

In [ ]:
import sklearn

In [ ]:
lt.scatter(lm.predict(x_train), lm.predict(x_train) - y_train, c='b', s=40, alpha=0.5)

In [ ]:
np.sqrt(((view_act_pred["Actual"] - view_act_pred["Pred"]) ** 2).mean())

In [55]:
from sklearn.ensemble import RandomForestRegressor

In [56]:
model = RandomForestRegressor(random_state=0).fit(x_train, y_train)

In [57]:
model.score(x_train, y_train)

0.9953367882644121

In [58]:
model.score(x_test, y_test)

0.9622309866379849

In [61]:
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor

# create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)

# fit the regressor with x and y data
regressor.fit(x_train, y_train)

RandomForestRegressor(random_state=0)

In [63]:
y_pred = regressor.predict(x_test)

In [64]:
print(y_pred)

#[-0.52474426  0.04470749  1.65915192 ... -0.35799021 -0.56125545
# -0.07925036]

[-0.52474426  0.04470749  1.65915192 ... -0.35799021 -0.56125545
 -0.07925036]

In [65]:
n_estimators = [int(x) for x in np.linspace(100,1200,12)]

max_features = ['auto', 'sqrt']

max_depth = [int(x) for x in np.linspace(5,30,6)]

min_samples_split = [2,5,10,15,100]

min_samples_leaf = [1,2,5,10]

In [66]:
randomgrid = {'n_estimators' : n_estimators, 'max_features' : max_features, 'max_depth' : max_depth,
              'min_samples_split' : min_samples_split, 'min_samples_leaf' : min_samples_leaf}

In [70]:
from sklearn.model_selection import RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator = regressor, param_distributions = randomgrid, scoring = 'r2'
                              , n_iter = 10, cv = 5, verbose = 2, n_jobs = 1)

In [68]:
from sklearn.model_selection import RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator = regressor, param_distributions = randomgrid, scoring = 'r2'
                              , n_iter = 10, cv = 5, verbose = 2, n_jobs = 1)

In [72]:
rf_random.fit(x_train, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10, total=  17.1s
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.0s remaining:    0.0s

[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10, total=  17.3s
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10, total=  14.7s
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10, total=  15.3s
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=10, total=  16.4s
[CV] n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10, total=   2.4s
[CV] n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10, total=   2.5s
[CV] n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10, total=   2.4s
[CV] n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10, total=   2.4s
[CV] n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=200, min_samples_split=2, min_samples_leaf=10, max_features=auto, max_depth=10, total=   2.4s
[CV] n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   2.1s
[CV] n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   2.0s
[CV] n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   2.0s
[CV] n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   2.0s
[CV] n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=200, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   2.0s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   4.6s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   4.6s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   4.7s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   4.7s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   5.5s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   4.6s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   4.4s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   4.6s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   4.4s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   4.3s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20, total=   1.7s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20, total=   1.7s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20, total=   1.7s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20, total=   1.6s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=20, total=   1.8s
[CV] n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.8s
[CV] n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.7s
[CV] n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.5s
[CV] n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.5s
[CV] n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=400, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.5s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10, total=  10.5s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10, total=  10.5s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10, total=  10.6s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10, total=  10.2s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=10, total=  10.3s
[CV] n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   4.4s
[CV] n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   4.4s
[CV] n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   4.5s
[CV] n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   4.4s
[CV] n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10
[CV]  n_estimators=900, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=10, total=   4.4s
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=  11.0s
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=  11.0s
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=  11.0s
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=  10.9s
[CV] n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=1200, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=  10.9s

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:  5.0min finished

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(random_state=0),
                   n_jobs=1,
                   param_distributions={'max_depth': [5, 10, 15, 20, 25, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              100],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000, 1100,
                                                         1200]},
                   scoring='r2', verbose=2)

In [ ]:
print(y_pred - y_test)

In [ ]:
view_act_pred = pd.concat([pd.Series(y_pred).reset_index(drop=True), pd.Series(y_test)], axis=1)

In [ ]:
np.mean((y_test - y_pred)**2)